body
{
    margin: 0px;
    font-family: monospace;
}

.header
{
    background-color:black;
    width:100%;
    border-bottom: 3px lightcoral solid;
}

h1
{
    color:coral;
    margin: 0px;
}

.header .container
{
    width: 70%;
    background-color:royalblue;
    display:flex;
}

.navbar
{
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    color: coral;
    display: flex;
}