body
{
    background-color:black;
    margin: 0px;
    padding: 0px;
    /* para não ficar colado no topo da pagina */
    font-family: monospace;
}

.header
{
    height: 100px;
    width: 100%;
    border-bottom: 3px #32b9cd solid;
    align-items: center;
}

.titulo
{
    color:#32b9cd;
    margin: 0px;
}

.container
{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container
{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar
{
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    color: coral;
    display: flex;
    padding: 0;
}

p {
    color:white
}

/* BANNER */

.banner
{
    height: 550px;
    background-image: url(./imgs/bg-jelly-fish-para_outras_pags.png);
    background-size: cover;
}

.banner .card 
{
    background-color:#362eac6a;
    height: 500px;
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    color: #03d6da;
    border-radius: 20px;
}

.banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
  }
  
  .banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
  }
  
  .banner .container span {
    font-weight: 800;
  }


  /* Valores */

 .social {
    background-color: #e5e5e5;
    display: flex;
  }
  
  .box img {
    width: 170px;
  }
  
  .social .container .boxes {
    display: flex;
  }
  
  .social p {
    text-align: center;
  }
  
  .box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* Footer */
  
  .footer {
    background-color: #32b9cd;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
  }
  
  .footer .container {
    justify-content: center;
  }

/* Pagina de login */

.banner .container .card {
    background-color: #e5e5e5;
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
  }
  
  .card {
    display: flex;
    justify-content: space-around;
  }
  
  .card h2 {
    font-size: 30px;
  }
  
  .card h4 {
    font-size: 16px;
  }
  
  .banner #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }